.skill{
    margin: 10 10;
    background-color: cornsilk;
    justify-content: center;
    text-align: center;
}
table{
    display: flex;
    table-layout: auto;
    border: 50px;
    border-color: black;
    border-radius: 100px;
    text-align: center;
    justify-content: space-between;
    background-color: chartreuse;
}
td{ width: 50%;}
.tech{
    padding: 10%;
}
.nontech{
    padding: 10%;
}
